---
let { url, title, pubDate, img } = Astro.props;

pubDate = new Date(pubDate);
const fullYear = pubDate.getFullYear();

const str = "The morning is upon us.";
str.slice(-3); // 'us.'
str.slice(-3, -1); // 'us'
str.slice(0, -1); // 'The morning is upon us'
str.slice(4, -1); // 'morning is upon us'


---



<article class="flex bg-white transition hover:shadow-xl mb-8">
	<div class="rotate-180 p-2 [writing-mode:_vertical-lr]">
	  <time
		datetime={pubDate}
		class="flex items-center justify-between gap-4 text-xs font-bold uppercase text-gray-900"
	  >
		<span>{pubDate.getFullYear()}</span>
		<span class="w-px flex-1 bg-gray-900/10"></span>
		<span>{pubDate.getDate()} &nbsp;{pubDate.toLocaleString('default', { month: 'long' })}</span>
	  </time>
	</div>
  
	<div class="hidden sm:block sm:basis-56">
	  <img
		alt={img.alt}
		src={img.url}
		class="aspect-square h-full w-full object-cover"
	  />
	</div>
  
	<div class="flex flex-1 flex-col justify-between">
	  <div class="border-s border-gray-900/10 p-4 sm:border-l-transparent sm:p-6">
		<a href={url}>
		  <h3 class="font-bold uppercase text-gray-900">
			{title}
		  </h3>
		</a>
  
		<p class="mt-2 line-clamp-3 text-sm/relaxed text-gray-700">
		  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae
		  dolores, possimus pariatur animi temporibus nesciunt praesentium dolore
		  sed nulla ipsum eveniet corporis quidem, mollitia itaque minus soluta,
		  voluptates neque explicabo tempora nisi culpa eius atque dignissimos.
		  Molestias explicabo corporis voluptatem?
		</p>
	  </div>
  
	  <div class="sm:flex sm:items-end sm:justify-end">
		<a
		  href={url}
		  class="block bg-yellow-300 px-5 py-3 text-center text-xs font-bold uppercase text-gray-900 transition hover:bg-yellow-400"
		>
		  Read Post
		</a>
	  </div>
	</div>
  </article>

  