---
import { getCollection } from 'astro:content'
import HeaderSection from '@components/Section/Header.astro'

const works = await getCollection('works', ({ data }) => {
	return data.isDraft !== true && 'review' in data
})
---

<!-- Happy Customers! -->
<section>
	<HeaderSection title="Happy Customers!" icon="ph:chat-centered-text" />

	<div class="space-y-5 sm:columns-2 sm:gap-6 sm:space-y-6">
		{
			works.map((work) => (
				<article class="break-inside-avoid-column rounded-2xl border border-slate-200 bg-white">
					<div class="p-5">
						<div class="mb-3 flex items-center">
							<a
								href={`/works/${work.slug}`}
								aria-label={'View ' + work.data.review.author + ' project'}
							>
								<img
									class="mr-4 h-12 w-12 rounded-2xl"
									src={work.data.review.avatar}
									alt={work.data.review.author}
								/>
							</a>
							<div>
								<p class="text-lg font-semibold tracking-tight text-slate-900">
									<a href={`/works/${work.slug}`}> {work.data.review.author} </a>
								</p>
								<p class="text-xs text-slate-600">{work.data.client.name}</p>
							</div>
						</div>
						<span class="mb-3 font-normal text-slate-700">{work.data.review.message}</span>
					</div>
				</article>
			))
		}
	</div>
</section>
<!-- Happy Customers! -->
